{
  "presets": [
    [
      "@babel/preset-react",{
      "preset-env":{},
      "transform-runtime":{
        "regenerator": true
      },
      "styled-jsx":{},
      "class-properties":{}
    }]
  ]
}